$vista:mobile;

header{
@if $vista == desktop {
	@media only screen and (min-width:1024px){
		h1{font-size:$h1Desktop;}
		h3{font-size:35px;}
		p{font-size:$parrafoDesktop;}
		}
	} @else if $vista == mobile {
		@media only screen and (max-width:767px){
			ul {display: flex;
        flex-direction: row;
        height: 30px;
        bottom: 82px;
        left: 10px;
        padding-left: 5px;
        margin: 10%;}

        .logotipo {
            margin-bottom: 13cm;
            width: 50px;
            height: 50px;
            margin-top: 0%;
            margin-left: 5px;
            transition: all 2s;}
        
    
    li{
      list-style-type:none;
      color: black; 
      font-size: 10px;
      padding: -5px;
      font-size: 17px;
      width: 45px;
      height: 51px;
      transition: all 2s;}

    li:hover {
        height: 100px; width: 100px;
        padding: 10px;
        background-color: rgb(220, 231, 231);}

    .menu{
        font-size: 8px;
        color: black;
        margin-left: 10px;}
    

    .lista{
        text-align: left;
        font-size: 30px;
        padding: 10px;
        background-color: rgb(205, 255, 220);
        margin-top: 50px;}
		}
	} @else {
		h1{font-size:34px;}
		h3{font-size:25px;}
		p{font-size:20px;}
	}

}