.header{
    position:fixed;
    z-index: 4;
    left:0%;
    top: 0%;
    right: 0%;
    height: 100px;
    margin: 10px;
    margin-top: 0%;
    background-image: linear-gradient(to left, rgb(102, 219, 102),yellow,blue);
    display: grid;
    grid-template-rows: 50px;
    grid-column: 100px 10px 10px 10px 10px;

    
    
    
  div{ 
        a{ 
            .logotipo{
                margin-top: 0%;
                margin-left: 5px;
                width: 100px; height: 100px;
                transition: all 2s;
                animation-name: paisaje-logo;
                animation-iteration-count: 5;
                animation-timing-function: ease-in;
                animation-duration: 5s;
               }  

                @keyframes paisaje-logo {
                    0% {
                        transform: translateX(-50);
                    }
                    50% {
                        transform: translateY(50);
                    }
                   100%{ 
                       transform:rotate(360deg);
                   }
            }
        }
    } 

    
        
}

.header{
     nav{
        ul{display: flex;
            flex-direction: row;
            position: relative;
            bottom: 235px;
            left: 279px;
            padding-left: 100px;
            margin: 10%;
            li{  
                list-style-type:none;
                color: black;
                padding: 10px;
                font-size: 17px;
                width: 119px; height: 109px;
                transition: all 2s;
            }       
            
            li:hover {
                height: 200px; width: 200px;
                padding: 10px;
                background-color: rgb(220, 231, 231);
                .menu{
                    font-size: 17px;
                    color: black;
                    margin-left: 10px;
                }
                
            }
            
        }          
    }
}
    











 
                 
                    
 
     
 