main{ padding-top: 10rem;
    background-color:$bgcolorsecundario;
       div{
         article{
                    .titulo-principal{
                        font-size: 50px;
                        text-align: center;
                        margin-bottom: 5%;
                        padding: 40px;
                        padding-top: 80px;
                        background-image: url(../assets/img/panel-solar1000.jpg);
                        background-repeat: no-repeat;
                        border: 8px solid black;

                    }

                    div{
                         .logo-grande{
                                    display: block;
                                    margin: auto;
                                    width: 290px;
                                    border: 10px solid black;
                                    animation-name: paisaje-logo;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-in;
                                    animation-duration: 5s;
                                }  
                    }

                   div{
                       p{
                         font-size:  $fuente-chica ;
                        text-align: center;
                        margin-top: 50px;
                        padding: 30px;
                        
                      }
                    }
                }
            }
        a{
            img{width: 300px;
                padding: 50px;
                height: 0.5 cm;
                width: 200px; height: 200px;
                transition: all 2s;
                margin-left: 50px;

            }
        }
     
    
}

.texto-principal{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    padding: 30px;
}



.grid-container{width: 90%;
    margin: 30px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: 200px 200px 200px;
    grid-column-gap:10%;
   
}
.foto-imagen{
    padding: 5px;
    height: 0.5cm;
    width: 250px; height: 250px;
    transition: all 2s;
    margin-left: 50px;
    box-shadow: 0 0 20px #333;
}



.foto-imagen :hover {
    filter: opacity(0.9);
    transform: scale(1.04);
    background-color: rgb(202, 236, 235);
}

.primerTexto{
    padding-top: 40%;
    margin-left: 25%;
    
}



main{ 
    div{
        div{
            div{
                table{
                    thead{
                        tr{
                            th{
                                font-size:$fuente-normal;
                                color: $color-6;
                            }
                        }
                    }
                }
            }

        }


        
    }
}

            

main{
    .imagenCasaGift{
                    img{ 
                        @extend .position-relative;
                    

                    }
       
    }
}

main{
    div{
        .preguntas{
            .otrasPreguntas{
                .primer-pregunta{ 
                    @extend .position-relativeR;
                              
                }
                
            }
            
        }
    }
}

main{
    .carusel-de-fotos{
        .carusel-de-fotos1{
            @extend .position-relativeR;
            margin-right: auto;
            padding-left: 10%;

        }
    }
}
  
main{
    .video{
        .videoPosicion{
            @extend .position-relativeR;
            margin-top: 30px;
        }
    }
}

