@mixin posiciones { position: relative;
    margin-left: 400px;
    
}

@mixin posiciones1{
                     position: relative;
                     padding-bottom: 10px;
                     margin-bottom: 150px;
                     margin-left: 400px;
                     border: 10px solid black;
}